zerocho_react_sleact/back/.env
zerocho_react_sleact/back/node_modules
zerocho_react_sleact/description.txt
zerocho_react_sleact/alecture/node_modules
zerocho_react_sleact/alecture/dist
zerocho_react_webgames/react-router/node_modules